<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="79f009a5-9ab8-4fe4-9fdb-be2c629b927c" Publisher="CN=Alexandre" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SharpDX Windows 8 Abstraction</DisplayName>
    <PublisherDisplayName>COMP300019</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>SharpDX Windows 8 Abstraction</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SharpDX_Windows_8_AbstractionApp">
      <VisualElements DisplayName="Over the moon" Logo="Assets\Logo.jpg" SmallLogo="Assets\smallLogo.jpg" Description="Over the moon" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\bigLogo.jpg" />
        <SplashScreen Image="Assets\splashView.jpg" BackgroundColor="#73BF73" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>